#homepage-line {
	position: absolute;
}

#homepage-display-desktop {
	position: relative;
	top: -11rem;

	button {
		white-space: nowrap;
		margin-left: 6rem;
	}

	@media (max-width: $laptop) {
		display: none;
	}
}

#home-page-display-tablet {
	@media (min-width: $laptop) {
		display: none;
	}
}

#split-pet {
	margin-right: -2rem;

	@media (max-width: $desktop) {
		margin-right: 0;
	}
}

#split-rock {
	margin-left: 21rem;

	@media (max-width: $desktop) {
		margin-left: 0;
	}
}

#main-rock {
	box-shadow: 0px 59px 78px -59px black;
}

#go-button-col {
	position: relative;
	top: -6rem;

	@media (max-width: $desktop) {
		top: -3rem;

		button {
			padding: 12px 120px;
		}
	}
}