#how-container {
	position: relative;
	top: -14rem;

	@media (max-width: $desktop) {
		top: 3rem;
	}
}

#how-two-selectors {
	@media (max-width: $mobile) {
		display: none;
	}
}

#how-two-selectors-mobile {
	@media (min-width: $mobile) {
		display: none;
	}
}

.how-selection {
	opacity: 0.5;

	&.selected {
		opacity: 1.0;
	}
}

.how-img  {
	width: 12rem;
	margin-right: 1.6rem;

	@media (max-width: $desktop) {
		width: 9rem;
	}

	@media (max-width: $mobile) {
		margin-right: 0;
	}	
}

#how-box {
	background-color: white;
	border: 2px solid #ECEADF;
	border-radius: 8px;

	padding: 2rem;
	margin-top: -0.5rem;

	width: 80%;

	z-index: -1;
}

#how-steps {
	word-wrap: break-word;

	img {
		width: 8rem;
		margin: 0 1rem;
	}

	@media (max-width: $desktop) {
		padding-left: 6.5rem;
	}

	@media (max-width: $mobile) {
		padding-left: 0;
	}
}

.just-how-div {
	position: absolute;
	top: -0.3rem;
}