.mr-lg {
  margin-right: 20rem;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ECEADF;
  margin: 0%;
  margin-bottom: 2rem;
  background-image: url(/./assets/background.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

button {
  opacity: 1.0;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
  opacity: 0.75;
}

.btn-main, .btn-next, .btn-order-summary {
  font-family: 'Bungee';
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  border-radius: 20px;
  border: none;
  padding: 10px 40px;
}

.btn-spacing-large {
  padding: 10px 80px;
}

.btn-dark, .btn-next {
  background-color: black;
  color: white;
}

.btn-light {
  background-color: white;
  color: #1A1A19;
  border: 1px solid #1A1A19;
}

.btn-pink, .btn-order-summary {
  background-color: #F99084;
  color: white;
  border: 1px solid #D97C71;
}

.btn-next {
  padding-left: 12rem;
  padding-right: 12rem;
}

.btn-order-summary {
  border: none;
  box-shadow: 0px 9px 17px -9px rgba(0, 0, 0, 0.22);
  align-self: center;
  padding: 1.4rem 6.8rem 1.4rem 4.4rem;
}

.btn-order-summary img {
  height: 1.4rem;
  vertical-align: middle;
  padding-right: 2.4rem;
}

.btn-order-summary h4 {
  display: inline;
  margin: 0;
  vertical-align: middle;
}

nav {
  background-color: #fff;
  box-shadow: 0px 9px 17px -9px rgba(0, 0, 0, 0.15);
  padding: 0 2rem;
}

nav img {
  object-fit: contain;
  width: 14rem;
  height: 6rem;
}

h1, h2, h3 {
  font-family: 'Bungee', cursive;
  display: inline-block;
  margin: 0;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}

.title {
  font-size: 6rem;
}

.subtitle {
  font-size: 10rem;
}

.montserrat, .pink-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.pink-text, .pink-montserrat {
  color: #F99084;
}

.pink-montserrat {
  text-transform: uppercase;
  font-weight: 900;
}

.shop-title {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.shop-subtitle {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

#homepage-line {
  position: absolute;
}

#homepage-display-desktop {
  position: relative;
  top: -11rem;
}

#homepage-display-desktop button {
  white-space: nowrap;
  margin-left: 6rem;
}

@media (max-width: 992px) {
  #homepage-display-desktop {
    display: none;
  }
}

@media (min-width: 992px) {
  #home-page-display-tablet {
    display: none;
  }
}

#split-pet {
  margin-right: -2rem;
}

@media (max-width: 1200px) {
  #split-pet {
    margin-right: 0;
  }
}

#split-rock {
  margin-left: 21rem;
}

@media (max-width: 1200px) {
  #split-rock {
    margin-left: 0;
  }
}

#main-rock {
  box-shadow: 0px 59px 78px -59px black;
}

#go-button-col {
  position: relative;
  top: -6rem;
}

@media (max-width: 1200px) {
  #go-button-col {
    top: -3rem;
  }
  #go-button-col button {
    padding: 12px 120px;
  }
}

#how-container {
  position: relative;
  top: -14rem;
}

@media (max-width: 1200px) {
  #how-container {
    top: 3rem;
  }
}

@media (max-width: 576px) {
  #how-two-selectors {
    display: none;
  }
}

@media (min-width: 576px) {
  #how-two-selectors-mobile {
    display: none;
  }
}

.how-selection {
  opacity: 0.5;
}

.how-selection.selected {
  opacity: 1.0;
}

.how-img {
  width: 12rem;
  margin-right: 1.6rem;
}

@media (max-width: 1200px) {
  .how-img {
    width: 9rem;
  }
}

@media (max-width: 576px) {
  .how-img {
    margin-right: 0;
  }
}

#how-box {
  background-color: white;
  border: 2px solid #ECEADF;
  border-radius: 8px;
  padding: 2rem;
  margin-top: -0.5rem;
  width: 80%;
  z-index: -1;
}

#how-steps {
  word-wrap: break-word;
}

#how-steps img {
  width: 8rem;
  margin: 0 1rem;
}

@media (max-width: 1200px) {
  #how-steps {
    padding-left: 6.5rem;
  }
}

@media (max-width: 576px) {
  #how-steps {
    padding-left: 0;
  }
}

.just-how-div {
  position: absolute;
  top: -0.3rem;
}

.customize-choice {
  background-color: white;
  box-shadow: 0px 9px 17px -9px rgba(0, 0, 0, 0.22);
  border: 1px solid #1A1A19;
  border-radius: 12px;
  width: 32rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.customize-choice h3 {
  font-size: 1.6rem;
  text-align: start;
}

.customize-choice p {
  text-align: start;
  margin: 0.3rem 0 0 0;
}

.check {
  width: 2rem;
  box-shadow: 0px 6px 11px -6px rgba(0, 0, 0, 0.22);
}

.summary-desktop {
  position: absolute;
  height: 100%;
  top: 0;
  right: 5%;
  padding-left: 4rem;
  padding-top: 10rem;
  z-index: -1;
}

@media (max-width: 1200px) {
  .summary-desktop {
    display: none;
  }
}

.cost {
  margin-top: 3rem;
  margin-bottom: 8rem;
  padding-top: 4rem;
  border-top: 1px solid #1A1A19;
}

.connection {
  margin-top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: -20;
}

.side-2 {
  margin-top: 9rem;
}

.pink-rect {
  width: 14rem;
  height: 2.5rem;
}

.summary-title {
  color: #1A1A19;
  opacity: 50%;
}

.step-icon {
  width: 2rem;
  height: 2rem;
}

.hidden-step {
  visibility: hidden;
}

.shop-footer {
  position: fixed;
}
