.mr-lg {
  margin-right: 20rem;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eceadf;
  margin: 0%;
  margin-bottom: 2rem;
  background-image: url(/./assets/background.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

button {
  opacity: 1;
  -webkit-transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
  opacity: 0.75;
}

.btn-main,
.btn-next,
.btn-order-summary,
.action-button {
  font-family: "Bungee";
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  border-radius: 20px;
  border: none;
  padding: 10px 40px;
}

.btn-spacing-large {
  padding: 10px 80px;
}

.btn-dark,
.btn-next {
  background-color: black;
  color: white;
}

.btn-light {
  background-color: white;
  color: #1a1a19;
  border: 1px solid #1a1a19;
}

.btn-pink,
.btn-order-summary,
.action-button {
  background-color: #f99084;
  color: white;
  border: 1px solid #d97c71;
}

.btn-next {
  padding-left: 12rem;
  padding-right: 12rem;
}

.btn-order-summary {
  border: none;
  -webkit-box-shadow: 0px 9px 17px -9px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 9px 17px -9px rgba(0, 0, 0, 0.22);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 1.4rem 6.8rem 1.4rem 4.4rem;
}

.btn-order-summary img {
  height: 1.4rem;
  vertical-align: middle;
  padding-right: 2.4rem;
}

.btn-order-summary h4 {
  display: inline;
  margin: 0;
  vertical-align: middle;
}

.action-button {
  border: none;
  -webkit-box-shadow: 0px 9px 17px -9px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 9px 17px -9px rgba(0, 0, 0, 0.22);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 1.4rem 6.8rem 1.4rem 6.8rem;
}

.action-button img {
  height: 1.4rem;
  vertical-align: middle;
  padding-right: 2.4rem;
}

.action-button h4 {
  display: inline;
  margin: 0;
  vertical-align: middle;
}

nav {
  background-color: #fff;
  -webkit-box-shadow: 0px 9px 17px -9px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 9px 17px -9px rgba(0, 0, 0, 0.15);
  padding: 0 2rem;
}

nav img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 14rem;
  height: 6rem;
}

h1,
h2,
h3 {
  font-family: "Bungee", cursive;
  display: inline-block;
  margin: 0;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}

.title {
  font-size: 6rem;
}

.subtitle {
  font-size: 10rem;
}

.montserrat,
.pink-montserrat {
  font-family: "Montserrat", sans-serif;
}

.pink-text,
.pink-montserrat {
  color: #f99084;
}

.pink-montserrat {
  text-transform: uppercase;
  font-weight: 900;
}

.shop-title {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.shop-subtitle {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

#homepage-line {
  position: absolute;
}

#homepage-display-desktop {
  position: relative;
  top: -11rem;
}

#homepage-display-desktop button {
  white-space: nowrap;
  margin-left: 6rem;
}

@media (max-width: 992px) {
  #homepage-display-desktop {
    display: none;
  }
}

@media (min-width: 992px) {
  #home-page-display-tablet {
    display: none;
  }
}

#split-pet {
  margin-right: -2rem;
}

@media (max-width: 1200px) {
  #split-pet {
    margin-right: 0;
    text-align: center;
  }
}

#split-rock {
  margin-left: 21rem;
}

@media (max-width: 1200px) {
  #split-rock {
    margin-left: 0;
  }
}

#main-rock {
  -webkit-box-shadow: 0px 59px 78px -59px black;
  box-shadow: 0px 59px 78px -59px black;
}

#go-button-col {
  position: relative;
  top: -6rem;
}

@media (max-width: 1200px) {
  #go-button-col {
    top: -3rem;
  }
  #go-button-col button {
    padding: 12px 120px;
  }
}

@media (max-width: 1200px) {
  .mobile-centered {
    text-align: center;
  }
}

.instagram-handle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5rem;
}

.instagram-handle-container img {
  height: 5rem;
  width: auto;
}

.instagram-handle-container h2 {
  letter-spacing: 0.25rem;
  margin-left: 2rem;
}

#how-container {
  position: relative;
  top: -14rem;
}

@media (max-width: 1200px) {
  #how-container {
    top: 3rem;
  }
}

@media (max-width: 576px) {
  #how-two-selectors {
    display: none;
  }
}

@media (min-width: 576px) {
  #how-two-selectors-mobile {
    display: none;
  }
}

.how-selection {
  opacity: 0.5;
}

.how-selection.selected {
  opacity: 1;
}

.how-img {
  width: 12rem;
  margin-right: 1.6rem;
}

@media (max-width: 1200px) {
  .how-img {
    width: 9rem;
  }
}

@media (max-width: 576px) {
  .how-img {
    margin-right: 0;
  }
}

#how-box {
  background-color: white;
  border: 2px solid #eceadf;
  border-radius: 8px;
  padding: 2rem;
  margin-top: -0.5rem;
  width: 80%;
  z-index: -1;
}

#how-steps {
  word-wrap: break-word;
}

#how-steps img {
  width: 8rem;
  margin: 0 1rem;
}

@media (max-width: 1200px) {
  #how-steps {
    padding-left: 6.5rem;
  }
}

@media (max-width: 576px) {
  #how-steps {
    padding-left: 0;
  }
}

.just-how-div {
  position: absolute;
  top: -0.3rem;
}

.top-nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.shopping-cart-btn {
  background-color: transparent;
  font-size: 10px;
}

.shopping-cart-btn .shopping-cart-icon {
  font-size: 24px;
}

@media screen and (max-width: 1024px) {
  .top-nav-btns {
    display: initial;
  }
  .shopping-cart-btn {
    display: none;
  }
}

.customize-choice {
  background-color: white;
  -webkit-box-shadow: 0px 9px 17px -9px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 9px 17px -9px rgba(0, 0, 0, 0.22);
  border: 1px solid #1a1a19;
  border-radius: 12px;
  width: 32rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.customize-choice h3 {
  font-size: 1.6rem;
  text-align: start;
}

.customize-choice p {
  text-align: start;
  margin: 0.3rem 0 0 0;
}

.check {
  width: 2rem;
  -webkit-box-shadow: 0px 6px 11px -6px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 6px 11px -6px rgba(0, 0, 0, 0.22);
}

.secondContainer {
  width: 75%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 15rem;
  display: none;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .secondContainer {
    width: 100vw;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .secondContainer h1 {
    text-align: center;
  }
  .secondContainer #design-title {
    margin-top: 6rem;
  }
  .secondContainer #design-title h2 {
    width: 100%;
    text-align: center;
  }
  .secondContainer .customize-choice {
    margin-left: 0;
    left: 0;
    padding-left: 0;
  }
}

.pictire-text-choice-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 1200px) {
  .pictire-text-choice-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.pictire-text-choice-row .choice-box {
  margin-right: 30px;
}

.pictire-text-choice-row .choice-box .design-type-choice-image-container {
  height: 100px;
  min-width: 100px;
  margin: 0 20px;
  padding: 0;
  background-color: blue;
  border-radius: 100px;
}

.pictire-text-choice-row .choice-box .design-type-choice-image-container img {
  height: 100px;
  width: 100px;
  padding: 0;
  margin: 0;
}

@media (max-width: 1200px) {
  .divider {
    margin-bottom: 25px;
  }
}

.choose-picture-container {
  width: 80rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (max-width: 1200px) {
  .choose-picture-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70rem;
  }
}

.choose-picture-container .chosen-picture {
  height: 15rem;
  min-width: 15rem;
  width: 15rem;
  margin: 0 2rem;
  background-color: blue;
  border-radius: 10rem;
  background-image: url("../../assets/how/just-how-photo.png");
  background-position: center;
}

@media screen {
  .choose-picture-container .chosen-picture {
    margin: 0;
    margin-top: 40px;
  }
}

.choose-picture-container .chosen-picture-actions {
  width: 50%;
  margin-top: 3rem;
  padding: 4rem 2rem;
  padding-bottom: 0;
}

.choose-picture-container .chosen-picture-actions button {
  width: 100%;
}

.choose-picture-container .chosen-picture-actions .button-subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 2rem;
}

.choose-picture-container
  .chosen-picture-actions
  .button-subtext
  .button-subtitle {
  padding-right: 4rem;
  padding-left: 0;
}

.choose-picture-container .chosen-picture-actions .button-subtext .info-logo {
  background-color: #f99084;
  min-width: 2.5rem;
  min-height: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 2rem;
  margin-left: 1rem;
}

.choose-picture-container
  .chosen-picture-actions
  .button-subtext
  .info-logo
  span {
  font-size: 17px;
  font-weight: 600;
  color: white;
}

.choose-picture-container .chosen-picture-actions .button-subtext .info-box {
  padding: 0 2rem;
  padding-left: 0;
}

.choose-text-container {
  background-color: white;
  height: auto;
  width: 60%;
  padding: 0;
}

@media (max-width: 1200px) {
  .choose-text-container {
    width: 90%;
  }
}

.choose-text-container .choose-text-header {
  background-color: #eee;
  padding: 0 2rem;
  width: 100%;
  height: 4.5rem;
  border-top-right-radius: 1.6rem;
  border-top-left-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.choose-text-container textarea {
  width: 100%;
  height: calc(20rem - 5rem);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  resize: none;
  font-size: 2rem;
  border-bottom-right-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  padding: 1rem 2rem;
  font-family: Bungee;
  font-style: normal;
}

.choose-text-container textarea:focus {
  outline: none;
}

#back-btn-step-two {
  margin-right: 1.5rem;
}

.hidden {
  display: none;
}

@media (max-width: 1200px) {
  .secondContainer {
    padding-bottom: 25px;
  }
  .secondContainer .choice-box,
  .secondContainer .customize-choice {
    margin: 0 !important;
  }
  .secondContainer .nav-btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .secondContainer .nav-btns #back-btn-step-two {
    margin-right: 0rem;
    width: 10rem !important;
    background-color: transparent;
    text-align: center;
    padding: 0 !important;
    border: none;
  }
  .secondContainer .nav-btns #next-btn-cart {
    padding-left: 0;
    padding-right: 0;
    width: 20rem;
  }
  html,
  body {
    overflow-x: hidden;
  }
}

.thirdContainer {
  width: 75%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 15rem;
  display: none;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .thirdContainer {
    width: 100vw;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .thirdContainer h1 {
    text-align: center;
  }
  .thirdContainer #design-title {
    margin-top: 6rem;
  }
  .thirdContainer #design-title h2 {
    width: 100%;
    text-align: center;
  }
  .thirdContainer .cart-items {
    display: none;
  }
}

.cart-items {
  width: 100%;
}

.cart-items .cart-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.cart-items .cart-item-container .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 40rem;
  margin-bottom: 0;
}

.cart-items .cart-item-container .cart-item img {
  width: 10rem;
  height: 10rem;
  margin: 0;
}

.cart-items .cart-item-container .cart-item .cart-item-text {
  padding-left: 2rem;
  margin: 0;
  padding-left: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cart-items .cart-item-container .remove-button-container {
  margin-left: 4rem;
}

.cart-items .cart-item-container .remove-button-container .remove-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  appearance: none;
  background-color: transparent;
}

.cart-items .cart-item-container .remove-button-container .remove-button h3 {
  margin: 0;
  color: red;
  font-size: 17px;
}

.cart-summary {
  display: none;
}

@media (max-width: 1200px) {
  .cart-summary {
    display: block;
    padding-left: 2rem;
  }
  .cart-summary .item-title {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.2rem solid #f99084;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
  }
  .cart-summary .item-title .remove-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10rem;
  }
  .cart-summary .item-title .remove-button-container .remove-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: none;
    appearance: none;
    background-color: transparent;
  }
  .cart-summary .item-title .remove-button-container .remove-button h3 {
    margin: 0;
    color: red;
    font-size: 17px;
  }
  .cart-summary .design-type-text {
    margin-left: 1.5rem !important;
  }
}

#back-btn-step-three {
  margin-right: 2rem;
}

@media (max-width: 1200px) {
  .thirdContainer {
    padding-bottom: 25px;
  }
  .thirdContainer .choice-box,
  .thirdContainer .customize-choice {
    margin: 0 !important;
  }
  .thirdContainer .nav-btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .thirdContainer .nav-btns #back-btn-step-three {
    margin-right: 0rem;
    width: 10rem !important;
    background-color: transparent;
    text-align: center;
    padding: 0 !important;
    border: none;
  }
  .thirdContainer .nav-btns #next-btn-checkout {
    padding-left: 0;
    padding-right: 0;
    width: 20rem;
  }
  html,
  body {
    overflow-x: hidden;
  }
}

.container {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media (max-width: 1200px) {
  .container {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container h1 {
    text-align: center;
  }
}

.summary-desktop {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 5%;
  background-color: white;
  padding-left: 4rem;
  padding-top: 10rem;
  border-left: 1px solid #1a1a19;
  overflow-y: scroll;
  height: 100%;
  width: 525px;
}

.summary-desktop #summary-close-btn {
  display: none;
}

.summary-desktop #summary-close-btn-large {
  display: none;
}

@media (max-width: 1024px) {
  .summary-desktop {
    position: absolute;
    height: auto;
    min-height: 100%;
    padding-right: 5%;
    overflow: scroll;
    overflow-y: scroll;
    padding-left: 4rem;
    padding-top: 10rem;
    border-left: 1px solid #1a1a19;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    height: auto;
    border-left: none;
    background-color: rgba(236, 234, 223, 0.5);
    z-index: 999;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 10rem;
    right: 0;
    margin: 0 auto;
  }
  .summary-desktop .summary-header {
    margin: 0 !important;
  }
  .summary-desktop .pink-line {
    z-index: 999 !important;
  }
  .summary-desktop .summary-background {
    background-color: white;
    position: relative;
    border-radius: 16px;
    border: 1px solid black;
    width: 98%;
    margin: 0 auto;
  }
  .summary-desktop .summary-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .summary-desktop #summary-close-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 !important;
    width: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 10rem;
    background-color: transparent;
    border: 0.2rem solid black;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .summary-desktop .summary-background {
    padding: 2.5rem;
  }
  .summary-desktop #summary-close-btn-large {
    display: initial;
    margin: 0 auto;
  }
}

@media (max-width: 570px) {
  .summary-desktop {
    width: 100%;
    border-left: none;
    right: 0;
    background-color: rgba(236, 234, 223, 0.5);
    z-index: 999;
    overflow-x: hidden;
    padding-left: 2rem;
    padding-top: 5rem;
    margin-top: 0;
  }
  .summary-desktop #summary-close-btn {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .show {
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
    display: block;
  }
  .hide {
    opacity: 0;
    display: none;
  }
}

.cost {
  margin-top: 3rem;
  margin-bottom: 8rem;
  padding-top: 4rem;
  border-top: 1px solid #1a1a19;
}

.connection {
  margin-top: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  z-index: -20;
}

.side-2 {
  margin-top: 9rem;
}

.pink-rect {
  width: 14rem;
  height: 2.5rem;
}

.summary-title {
  color: #1a1a19;
  opacity: 50%;
}

.step-icon {
  width: 2rem;
  height: 2rem;
}

.hidden-step {
  visibility: hidden;
}

.btn-order-summary {
  display: none;
}

@media (max-width: 1200px) {
  .btn-order-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .btn-order-summary h4 {
    padding-top: 0.225rem;
  }
}

.design-type-text {
  background-color: #eceadf;
  height: 100px;
  margin-bottom: -60px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 25px;
  border-radius: 8px;
  margin-left: 15px;
}

.summary-image {
  height: 15rem;
  width: 15rem;
  border-radius: 100px;
  background-color: blue;
  margin-top: -30px;
  margin-left: 15px;
  background-image: url("../../assets/how/just-how-photo.png");
  background-position: center;
}

@media (max-width: 1200px) {
  .design-type-text {
    width: 270px;
    padding: 10px;
    margin-left: 15px;
  }
}

@media (max-width: 576px) {
  .design-type-text {
    width: 250px;
    padding: 10px;
    margin-left: 45px;
  }
}

.top-nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.shopping-cart-btn {
  background-color: transparent;
  font-size: 10px;
}

.shopping-cart-btn .shopping-cart-icon {
  font-size: 24px;
}

@media screen and (max-width: 1024px) {
  .top-nav-btns {
    display: initial;
  }
  .shopping-cart-btn {
    display: none;
  }
}

.scroll-summary {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  overflow-y: scroll;
}

@media (max-width: 1200px) {
  .shop-footer {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */
