.container {
  transition: all 0.25s;
  @media (max-width: $desktop) {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
    }
  }
}

.summary-desktop {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 5%;
  background-color: white;
  padding-left: 4rem;
  padding-top: 10rem;
  border-left: 1px solid $off-black;
  overflow-y: scroll;
  height: 100%;
  width: 525px;
  #summary-close-btn {
    display: none;
  }
  #summary-close-btn-large {
    display: none;
  }

  @media (max-width: 1024px) {
    position: absolute;
    height: auto;
    min-height: 100%;

    padding-right: 5%;
    overflow: scroll;
    overflow-y: scroll;
    //background-color: white;
    padding-left: 4rem;
    padding-top: 10rem;
    border-left: 1px solid $off-black;

    z-index: -1;

    width: 100%;
    min-height: 100vh;
    height: auto;
    border-left: none;
    background-color: rgba(236, 234, 223, 0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
    right: 0;
    margin: 0 auto;
    .summary-header {
      margin: 0 !important;
    }
    .pink-line {
      z-index: 999 !important;
    }
    .summary-background {
      background-color: white;
      position: relative;
      border-radius: 16px;
      border: 1px solid black;
      width: 98%;
      margin: 0 auto;
    }
    .summary-header {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
    #summary-close-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 !important;
      width: auto;
      appearance: none;
      border: 0;
      border-radius: 10rem;
      background-color: transparent;
      border: 0.2rem solid black;
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      font-weight: 600;
    }
    .summary-background {
      //background-color: white;
      padding: 2.5rem;
    }
    #summary-close-btn-large {
      display: initial;
      margin: 0 auto;
    }
  }

  @media (max-width: 570px) {
    width: 100%;
    border-left: none;
    right: 0;
    background-color: rgba(236, 234, 223, 0.5);
    z-index: 999;
    overflow-x: hidden;
    padding-left: 2rem;
    padding-top: 5rem;
    margin-top: 0;

    #summary-close-btn {
      display: block;
      margin: 0 auto;
    }
  }
}
// Show / hide the summary on mobile
@media (max-width: $desktop) {
  .show {
    transition: opacity 400ms;
    display: block;
  }
  .hide {
    opacity: 0;
    display: none;
  }
}

.cost {
  margin-top: 3rem;
  margin-bottom: 8rem;
  padding-top: 4rem;

  border-top: 1px solid $off-black;
  // border-left: 1px solid $off-black;
}

// .summary-line {
// 	position:fixed;

// 	height:100%;
// 	width:100%;

// 	top: 0;
// 	left: 18%;
// }

.connection {
  margin-top: -1rem;
  left: 50%;
  transform: translateX(-50%);

  position: absolute;
  z-index: -20;
}

.side-2 {
  margin-top: 9rem;
}

// ------- RECTANGLE ------- //

.pink-rect {
  width: 14rem;
  height: 2.5rem;
}

// ------- TEXT ------- //
.summary-title {
  color: $off-black;
  opacity: 50%;
}

// ------- STEP ICON ------- //
.step-icon {
  width: 2rem;
  height: 2rem;
}

.hidden-step {
  visibility: hidden;
}

.btn-order-summary {
  display: none;
  @media (max-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      padding-top: 0.225rem;
    }
  }
}

.design-type-text {
  background-color: #eceadf;
  height: 100px;
  margin-bottom: -60px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 25px;
  border-radius: 8px;
  margin-left: 15px;
}

.summary-image {
  height: 15rem;
  width: 15rem;
  border-radius: 100px;
  background-color: blue;
  margin-top: -30px;
  margin-left: 15px;
  background-image: url("../../assets/how/just-how-photo.png");
  background-position: center;
}

@media (max-width: $desktop) {
  .design-type-text {
    width: 270px;
    padding: 10px;
    margin-left: 15px;
  }
}

@media (max-width: $mobile) {
  .design-type-text {
    width: 250px;
    padding: 10px;
    margin-left: 45px;
  }
}

.top-nav-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-cart-btn {
  background-color: transparent;
  font-size: 10px;
  .shopping-cart-icon {
    font-size: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .top-nav-btns {
    display: initial;
  }
  .shopping-cart-btn {
    display: none;
  }
}

.scroll-summary {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  overflow-y: scroll;
}
