html {
	font-size: 62.5%;
}

body {
	background-color: $tan-color;
	margin: 0%;
	margin-bottom: 2rem;

	background-image: url(/./assets/background.svg);
	background-repeat: no-repeat;
	background-position: right center;
}