// Colors
$tan-color: #ECEADF;
$off-black: #1A1A19;
$pink: #F99084;
$dark-pink: #D97C71;

// Font Size
.mr-lg {
	margin-right: 20rem;
}

// Breakpoints
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;